.navbar {
  background-color: #fff; /* Arka plan beyaz */
}
.nav-link {
  color: #000; /* Başlıklar siyah */
}
.nav-link:hover {
  color: #555; /* Hover efekti için renk */
}
.social-icons a {
  color: #000; /* Sosyal medya ikonları siyah */
  margin-left: 10px;
}
.social-icons a:hover {
  color: #555; /* Hover efekti için renk */
}
.secondaryBackgroundColor{
  background-color: rgba(239, 242, 255, 1);
}
.secondaryColor{
  color: rgba(239, 242, 255, 1);
}
.royalPurpleColor{
  color:rgba(116, 75, 252, 1)
}
.royalPurpleBackgroundColor{
  background-color:rgba(116, 75, 252, 1)
}
.borderRoyalPurpleColor{
  border:1px solid rgba(116, 75, 252, 1);
}
